<?xml version="1.0" encoding="UTF-8"?>

<!-- config.xml reference: https://build.phonegap.com/docs/config-xml -->
<widget xmlns     = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.daleyjem.phonegap.tvlistings"
        version   = "0.1.0">

    <name>TV Listings</name>

    <!--
        Enable individual API permissions here.
        The "device" permission is required for the 'deviceready' event.
    -->
    <feature name="http://api.phonegap.com/1.0/device" />

    <!--
        If you do not want any permissions to be added to your app, add the
        following tag to your config.xml; you will still have the INTERNET
        permission on your app, which PhoneGap requires.
    -->
    <preference name="permissions"                value="none"/>

    <!-- Customize your app and platform with the preference element. -->
    <preference name="phonegap-version"           value="2.9.0" />          <!-- all: current version of PhoneGap -->

	<preference name="DisallowOverscroll" 		  value="false" />
	<preference name="UIWebViewBounce" 			  value="false" />

    <!-- Define app icon for each platform. -->
    <icon src="icon.png" />

    <!-- Define app splash screen for each platform. -->
    <gap:splash src="splash.png" />

</widget>
